
.icon-help-circled-alt:before { content: '\e800'; } /* '' */
.icon-attention-alt:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e803'; } /* '' */
.icon-vk:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-fire-1:before { content: '\e80d'; } /* '' */
.icon-heart-1:before { content: '\e80e'; } /* '' */
.icon-eye-1:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-search-1:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */